.atualizarusers{
  all: unset;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgb(31, 31, 31) 10%, rgba(228,6,6,1) 60%, rgb(30, 29, 29) 100%);
  color: azure;
  padding: 10px;
  box-shadow: 1px 5px 5px 1px rgb(102, 104, 103);
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 15px;
}

.main_app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.nav-user{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.user{
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 5px 1px rgb(62, 61, 60);
  border-radius: 11px;  
  margin-bottom: 10px;
  padding: 18px 36px;
  width: 110%;
}

.user:hover{
  background: #f23232;
  color: white;
}

li{
  list-style: none;
}

.btn{
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(159, 150, 150);
  background: linear-gradient(90deg, rgb(222, 37, 37) 25%, rgb(249, 44, 44) 60%, rgb(249, 0, 0) 100%);
  color: white;
  font-size: larger;
  padding: 2px 10px;
  margin-right: 3px;
}

.btn:hover{
  background: linear-gradient(90deg, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 60%, rgb(0, 0, 0) 100%);
}

.closediv{
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}


.btn-close{
  margin-bottom: 10px;
}

.container-user{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 5px 1px rgb(62, 61, 60);
  min-width: 25%;
  max-width: 60%;
}

.pagination{
  display: flex;
  margin-top: 25px;
  padding: 0px;
  align-items: center;
}

.edit-delete{
  display: flex;
  justify-content: space-between;
}

.centralizar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0%;
}
.page-null{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuscuz{
  width: 35%;
}

.navCardUser{
  padding: 10px 10px;
  border-right: 1px solid rgb(125, 125, 125);
  border-bottom: 1px solid rgb(125, 125, 125);
  box-shadow: 2px 2px 4px rgb(159, 157, 157);
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.email{
  font-size: 1.1rem;
}

@media only screen and (max-width: 577px) {
  .container-user{
    border-radius: 20px;
  }
  .user{
    width: 76%;
  }

  .nav-user{
  font-size: 0.8rem;
  }

  .email{
    font-size: 0.9rem;
  }
  .pagination{
    margin-left: -45px;
  }

}

@media (min-width: 578px) and (max-width: 769px) {
  .user{
    width: 120%;
  }

  .nav-user{
  font-size: 1rem;
  }

  .email{
    font-size: 1rem;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .user{
    width: 130%;
  }

  .nav-user{
  font-size: 1rem;
  }

  .email{
    font-size: 1rem;
  }
  
}