.card {
  width: 260px;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 260px;
  height: 260px;
}

.card h3 {
  color: #222222;
  font-size: 20px;
  margin: 8px 0;
}

.card p {
  color: #060606;
  font-size: 16px;
  text-align: justify;
}

@media only screen and (max-width: 577px) {
  .card {
    width: 90px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
  }
  
  .card img {
    width: 120%;
    height: 40%;
  }
  .container-cards{
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .container-music{
    padding: 10px 23px;
  }
  .card h3 {
    color: #222222;
    font-size: 1rem;
    margin: 8px 0;
  }
  
}

@media (min-width: 578px) and (max-width: 769px) {
 
}

@media (min-width: 769px) and (max-width: 1024px) {

}