.container-controls{
  display: flex;
  justify-content: space-between;
  height: 132px;
  width: 100%;
  background: linear-gradient(180deg, #ff2323 0%, rgb(244, 33, 33) 100%);
  box-shadow: 1px 2px 3px black;
}

.preview-names {
  color: #ffffff;
  padding: 24px 0  0 32px; 
  width: 15%;
}

.preview-names strong {
  display: block;
  margin-top: 8px;
  font-size: 16px;
}

.container-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.container-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.container-buttons img {
  opacity: 0.8;
  margin-right: 40px;
  cursor: pointer;
}

.container-buttons img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.empty {
  width: 15%;
}

.btn-play-pause {
  width: 64px;
  height: 64px;
}

.btn-control {
  width: 48px;
  height: 48px;
}

.container-progress {
  margin-top: 16px;
  display: flex;
  align-items: center;
  width: 50%;
  color: #CCC3C3;
}

.start {
  margin-right: 8px;
}

.end {
  margin-left: 8px;
}

.container-line {
  width: 100%;
  position: relative;
}

.progress-line {
  border-bottom:  4px solid #CCC3C3;
}

.progress-line-color {
  border-bottom: 4px solid #070707;
  position: absolute;
  top:0;
  left: 0;  
}

@media only screen and (max-width: 577px) {
  .btn-control {
    width: 25px;
    height: 25px;
  }
  .btn-play-pause{
    width: 25px;
    height: 25px;
  }
  .preview-names {
    padding: 24px 0  0 32px; 
    width: 15%;
  }
  
  .preview-names strong {
    font-size: 0.7rem;
  }
  .preview-names h2 {
    font-size: 0.8rem;
  }

  .container-progress{
    width: 100%;
  }
  .container-controls{
    height: 200px;
  }
}