.container-music {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  main h2 {
    color: #ffffff;
    padding-bottom: 24px;
    margin-bottom: 12px;
  }
  
  .container-cards {
    display: flex;
    gap: 28px;
    width: 85%;
    height: 500px;
  }


  .section-container{
    height: 100vh;
  }